/* Enter your custom styles here */
.colorRed{
    color:rgb(35, 205, 131);
 }
 .sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle {
    min-width: 0;
    display: block;
    font-family: "72-Bold","72-Boldfull","72","72full",Arial,Helvetica,sans-serif;
    font-size: .875rem;
    font-weight: normal;
    color: #f53232;
 }
 .sapMLIBContent {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #00a5e787;
}
.sapUiSizeCompact .sapMInputBaseHasEndIcons .sapMInputBaseInner, .sapUiSizeCompact .sapMInputBaseHasBeginIcons .sapMInputBaseInner {
   width: calc(7rem);
}

.colorOrange{
   color:#cd9a23;
}
.sapUiBlockCellTitle {
   font-weight: 600;
   font-size: 20px;
   margin-top: 0;
   margin-bottom: 1rem;
}


.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellTitle, .sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellTitle .sapMLnk {
   font-size: 1.3rem;
}
.sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellTitle, .sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellTitle .sapMLnk {
   font-size: 1.3rem;
   color: blue;
}

.sapUiBlockCellContent {
width: 396px;
    height: 264px;
    padding-left: 25px;
    padding-right: 12px;
    padding-top: 25px;
    padding-bottom: 5px
}
.sapMImg {
   border: none;
   -webkit-tap-highlight-color: rgba(255,255,255,0);
   -webkit-user-select: none;
   -moz-user-select: none;
   -webkit-touch-callout: none;
   padding-top: 125px;
 }
 .page2BgImg {
   background-image: url('https://st2.depositphotos.com/1010683/11537/i/950/depositphotos_115370984-stock-photo-industrial-buildings-at-large-factory.jpg');
   background-size: 100% 100%;
 } 
 .sapUiBlockLayoutBackgroundDashboard:not(.sapUiBlockLayoutSizeS) .sapUiBlockLayoutRow:last-of-type .sapUiBlockCellContent {
   margin-bottom: 1rem;
   width: 450px;
 }
 .cellContent{
   flex: none;
 }
