/* Enter your custom styles here */
.colorRed{
    color:red;
 }
 .sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle {
    min-width: 0;
    display: block;
    font-family: "72-Bold","72-Boldfull","72","72full",Arial,Helvetica,sans-serif;
    font-size: .875rem;
    font-weight: normal;
    color: #f53232;
 }
 .sapMLIBContent {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #00a5e787;
}
.sapUiSizeCompact .sapMInputBaseHasEndIcons .sapMInputBaseInner, .sapUiSizeCompact .sapMInputBaseHasBeginIcons .sapMInputBaseInner {
   width: calc(5rem);
}